<main>
<h1  style="text-align: center;top: marg;margin-top: 26px;color: blue;">Registration</h1>

  <div class="container">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6">

        <!--Section: Content-->
        <section class="mt-4 mb-5">

          <form action="#!">

            <div class="form-row">
              <div class="col">
                <div class="md-form md-outline mt-0">
                  <input type="text" id="materialRegisterFormFirstName" class="form-control" [(ngModel)]="userdata.Fname" name="Fname">
                  <label for="materialRegisterFormFirstName">First name</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form md-outline mt-0">
                  <input type="email" id="materialRegisterFormLastName"  class="form-control" [(ngModel)]="userdata.Lname" name="Lname" >
                  <label for="materialRegisterFormLastName">Last name</label>
                  
                </div>
              </div>
            </div>
      
            <div class="md-form md-outline mt-0">
              <input type="email" id="defaultForm-email2" class="form-control" [(ngModel)]="userdata.Email" name="Email"  >
              <label data-error="wrong" data-success="right" for="defaultForm-email2">Your email</label>
            </div>
            <div class="md-form md-outline mt-0">
              <input type="password" id="defaultForm-pass2" class="form-control" [(ngModel)]="userdata.password" name="password" >
              <label data-error="wrong" data-success="right" for="defaultForm-pass2">Your password</label>
             
            </div>
      
            <div class="md-form md-outline mt-0">
                <input type="password" id="defaultForm-pass2" class="form-control" [(ngModel)]="userdata.Cpassword" name="Cpassword" >
                <label data-error="wrong" data-success="right" for="defaultForm-pass2">Confirm Password</label>
               
              </div>


            <div class="md-form md-outline">
              <input type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock" [(ngModel)]="userdata.numb" name="numb">
              <label for="materialRegisterFormPhone">Phone number</label>
              
            </div>
      
          </form>
      
          <div class="text-center mb-2">
      
            <button type="button" (click)="submit()"  class="btn btn-primary mb-4" style="float:left">Sign Up</button>
      
            <a href="javascript:void(0)" routerLink="/ForgetPassword" style="float:right;margin-top: 14px;">Forget Password</a>
      
            
      
          </div>

        </section>
        <!--Section: Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </div>
</main>
<!--Main layout-->
