<!--The content below is only a placeholder and can be replaced.-->
<section class="mb-5 text-center" style="margin-left: 569px;margin-top: 29px;display: inline-block;" >

    <p>Set a new password</p>
  
    <form action="#!">
  
      <div class="md-form md-outline">
        <input type="password" id="newPass" class="form-control" [(ngModel)]="npassword" name="npassword">
        <label data-error="wrong" data-success="right" for="newPass">New password</label>
      </div>
  
      <div class="md-form md-outline">
        <input type="password" id="newPassConfirm" class="form-control" [(ngModel)]="Cpassword" name="Cpassword">
        <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password</label>
      </div>

<h6>Captcha</h6>

      <div class="md-form md-outline">
          <span>{{num1}}</span> + 
          <span>{{num2}}</span> = 

          <input type="text"  [(ngModel)]="capCheck" name="capCheck">
        </div>
  
      <button type="submit" (click)="submit()" class="btn btn-primary mb-4" >Change password</button>
  
    </form>
  
    <div class="d-flex justify-content-between align-items-center mb-2">
  
      <!-- <u><a href="https://mdbootstrap.com/docs/jquery/admin/auth/login/">Back to Log In</a></u> -->
  
      <u><a href="javascript:void(0)" routerLink="/registerUser">Register</a></u>
  
    </div>
  
  </section>
  <!--Section: Block Content-->